Flow/TP01_Autre_exemple_Logging.json
{"flowContents":{"identifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","instanceIdentifier":"dd056020-c80c-3cac-2723-ecc97c99123c","name":"Apache NiFi Logging","comments":"","position":{"x":453.0,"y":172.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5d069fb0-3e56-35dc-aec5-f0b9940860f1","instanceIdentifier":"bace7523-e766-3115-0b7d-084ce11105e8","name":"SplitText","comments":"","position":{"x":1168.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"da012ae8-dbe7-3102-b5a0-92ee910883f1","instanceIdentifier":"de5ef5e4-af65-3832-741a-cf157a359134","name":"PutSlack","comments":"","position":{"x":1168.0,"y":528.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.28.1"},"properties":{"icon-emoji":null,"SSL Context Service":null,"webhook-text":"Hi, \n An Error occoured at ${grok.timestamp} with Service ${grok.thread}. Error msg ${grok.message}","channel":"#demo-logging","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"65211b26-ac28-317f-b568-f8fcc6b90347","instanceIdentifier":"c9d29b6a-0196-1000-d993-b86df50a617c","name":"LogMessage","comments":"","position":{"x":648.0,"y":224.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"Erreur générée exprès :-)","log-level":"ERROR","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"d00db21f-04fb-3305-93c7-7e1a66becafb","instanceIdentifier":"e1347b74-4026-38ee-69a3-cd9d9f5b9b08","name":"UpdateAttribute","comments":"","position":{"x":1792.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"d0a21c30-f261-3ce6-b9bf-fc8ed6729708","instanceIdentifier":"3b844507-76b4-3f9d-cd54-377a733f3bd1","name":"ExtractGrok","comments":"","position":{"x":1176.0,"y":296.0},"type":"org.apache.nifi.processors.standard.ExtractGrok","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} \\[%{DATA:thread}\\] %{DATA:class} %{GREEDYDATA:message}","Destination":"flowfile-attribute","Keep Empty Captures":"true","Grok Pattern file":null,"Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Named captures only":"false"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Keep Empty Captures":{"name":"Keep Empty Captures","displayName":"Keep Empty Captures","identifiesControllerService":false,"sensitive":false},"Grok Pattern file":{"name":"Grok Pattern file","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","TEXT","FILE"]}},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Named captures only":{"name":"Named captures only","displayName":"Named captures only","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"f3478903-da37-36e3-b481-1f5cb6c31914","instanceIdentifier":"c120d29b-43eb-3a2b-b584-70c8540a4378","name":"RouteOnContent","comments":"","position":{"x":1176.0,"y":104.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","ERROR":"ERROR","INFO":"INFO","Character Set":"UTF-8","DEBUG":"DEBUG","WARN":"WARN"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"ERROR":{"name":"ERROR","displayName":"ERROR","identifiesControllerService":false,"sensitive":false},"INFO":{"name":"INFO","displayName":"INFO","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"DEBUG":{"name":"DEBUG","displayName":"DEBUG","identifiesControllerService":false,"sensitive":false},"WARN":{"name":"WARN","displayName":"WARN","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"0761a8c2-9c85-3c44-82a1-83f56e77e3ad","instanceIdentifier":"2afddeaf-3f6e-337d-24ee-3d53b611d7fc","name":"TailFile","comments":"","position":{"x":648.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Current Time","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":null,"reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"/opt/nifi/nifi-current/logs/nifi-app.log","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"69578a74-8919-3527-823d-978fc9ed8004","instanceIdentifier":"c9d41975-0196-1000-6f80-b6a075c62235","name":"","source":{"id":"0761a8c2-9c85-3c44-82a1-83f56e77e3ad","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"TailFile","comments":"","instanceIdentifier":"2afddeaf-3f6e-337d-24ee-3d53b611d7fc"},"destination":{"id":"65211b26-ac28-317f-b568-f8fcc6b90347","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"LogMessage","comments":"","instanceIdentifier":"c9d29b6a-0196-1000-d993-b86df50a617c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"bfa6f9e8-8f85-3721-a0e1-135362bf804d","instanceIdentifier":"04e15397-90d5-3aae-7036-ebea996890c5","name":"","source":{"id":"5d069fb0-3e56-35dc-aec5-f0b9940860f1","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"SplitText","comments":"","instanceIdentifier":"bace7523-e766-3115-0b7d-084ce11105e8"},"destination":{"id":"f3478903-da37-36e3-b481-1f5cb6c31914","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-b584-70c8540a4378"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"9b597c75-f58a-37cf-89ee-68352042abb0","instanceIdentifier":"9d8629db-ba22-32ba-fddd-7f7cf2839eee","name":"","source":{"id":"f3478903-da37-36e3-b481-1f5cb6c31914","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-b584-70c8540a4378"},"destination":{"id":"d00db21f-04fb-3305-93c7-7e1a66becafb","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1347b74-4026-38ee-69a3-cd9d9f5b9b08"},"labelIndex":1,"zIndex":0,"selectedRelationships":["WARN"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1660.0,"y":247.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"dab451d7-1346-378f-9f24-aa1d3f71c6a2","instanceIdentifier":"e80fe183-66b4-331c-254d-1957d8af4206","name":"","source":{"id":"0761a8c2-9c85-3c44-82a1-83f56e77e3ad","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"TailFile","comments":"","instanceIdentifier":"2afddeaf-3f6e-337d-24ee-3d53b611d7fc"},"destination":{"id":"5d069fb0-3e56-35dc-aec5-f0b9940860f1","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"SplitText","comments":"","instanceIdentifier":"bace7523-e766-3115-0b7d-084ce11105e8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"e85c6a9f-830a-33d1-81be-766b031fefd9","instanceIdentifier":"4951070a-4c64-365b-1e40-6b78dcc0c24c","name":"","source":{"id":"f3478903-da37-36e3-b481-1f5cb6c31914","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-b584-70c8540a4378"},"destination":{"id":"d00db21f-04fb-3305-93c7-7e1a66becafb","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1347b74-4026-38ee-69a3-cd9d9f5b9b08"},"labelIndex":1,"zIndex":0,"selectedRelationships":["INFO"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1660.0,"y":97.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"c29929c0-37d0-3e68-947c-fce369b8a41b","instanceIdentifier":"52060a5d-016a-35c4-1dc2-7cf9756740ce","name":"","source":{"id":"f3478903-da37-36e3-b481-1f5cb6c31914","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-b584-70c8540a4378"},"destination":{"id":"d00db21f-04fb-3305-93c7-7e1a66becafb","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1347b74-4026-38ee-69a3-cd9d9f5b9b08"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DEBUG"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"ccb68864-0c61-3c4b-a901-134ec2310afb","instanceIdentifier":"9b9ba9c2-30ad-3e17-c160-b8298a50bb4a","name":"","source":{"id":"f3478903-da37-36e3-b481-1f5cb6c31914","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-b584-70c8540a4378"},"destination":{"id":"d0a21c30-f261-3ce6-b9bf-fc8ed6729708","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"ExtractGrok","comments":"","instanceIdentifier":"3b844507-76b4-3f9d-cd54-377a733f3bd1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"},{"identifier":"cb946913-b2fe-3f82-8814-22b4e5e5533d","instanceIdentifier":"79b26f31-1ae9-3b69-c037-9ff9e735dc43","name":"","source":{"id":"d0a21c30-f261-3ce6-b9bf-fc8ed6729708","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"ExtractGrok","comments":"","instanceIdentifier":"3b844507-76b4-3f9d-cd54-377a733f3bd1"},"destination":{"id":"da012ae8-dbe7-3102-b5a0-92ee910883f1","type":"PROCESSOR","groupId":"6b52a9ea-d84c-326d-8dae-77b43e36af5b","name":"PutSlack","comments":"","instanceIdentifier":"de5ef5e4-af65-3832-741a-cf157a359134"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1348.471923828125,"y":513.2900390625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"}],"labels":[{"identifier":"76e72df2-4a6a-3e92-b086-b04c41796b8c","instanceIdentifier":"3c48a47d-1195-3193-0e64-10c20438246a","position":{"x":1016.0,"y":488.0},"label":"Setup Slack Webhook here\n","zIndex":0,"width":664.0,"height":224.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"6b52a9ea-d84c-326d-8dae-77b43e36af5b"}],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}