Flow/TP03_Flow_complet.json
{"flowContents":{"identifier":"997acbe1-2a1f-3293-8592-0501409b215d","instanceIdentifier":"8dc31b76-019a-1000-0ae8-29d76970069c","name":"TP03_Flow_complet","comments":"","position":{"x":1120.0,"y":48.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a48cc68e-2090-3e3f-b65f-f49a83a852e3","instanceIdentifier":"8da4515d-019a-1000-7b82-92094f8a6a85","name":"LogAttribute","comments":"","position":{"x":1136.0,"y":704.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"dc897986-3849-3b7b-904d-3cf776d1f320","instanceIdentifier":"8da4ff83-019a-1000-68d4-9cd87e02f656","name":"PutFile","comments":"","position":{"x":1144.0,"y":920.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nifi/output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"8a209ea4-4b78-3e26-8a94-53f67d14445c","instanceIdentifier":"8da102f4-019a-1000-d5d6-d1339273b6b8","name":"UpdateAttribute","comments":"","position":{"x":1120.0,"y":264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","flux.nom":"IngestionsClients","traitement.date":"${now():format('yyyy-MM-dd')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"flux.nom":{"name":"flux.nom","displayName":"flux.nom","identifiesControllerService":false,"sensitive":false},"traitement.date":{"name":"traitement.date","displayName":"traitement.date","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"d919c4ab-bc5d-319e-bec4-5a2ee2583cbd","instanceIdentifier":"8da29b1d-019a-1000-afae-5305bbe29a8c","name":"ReplaceText","comments":"","position":{"x":1128.0,"y":488.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Regular Expression":"Ligne1","Replacement Value":"Partie de la ligne remplacée","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"b428eaed-83e5-3802-be75-83a6403af2ce","instanceIdentifier":"863b57a4-c7bd-3ab1-a150-f939a81e9873","name":"GenerateFlowFile","comments":"","position":{"x":1120.0,"y":48.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"text/csv","generate-ff-custom-text":"Ligne1;nom1;prenom1;Adresse1\nLigne2;nom2;prenom2;Adresse2\nLigne3;nom3;prenom3;Adresse3","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f2430751-b102-35bf-9b2e-2891463106fc","instanceIdentifier":"8da2bd25-019a-1000-ec23-a792972714a9","name":"","source":{"id":"8a209ea4-4b78-3e26-8a94-53f67d14445c","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"UpdateAttribute","comments":"","instanceIdentifier":"8da102f4-019a-1000-d5d6-d1339273b6b8"},"destination":{"id":"d919c4ab-bc5d-319e-bec4-5a2ee2583cbd","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"ReplaceText","comments":"","instanceIdentifier":"8da29b1d-019a-1000-afae-5305bbe29a8c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"8c24cd21-8b03-3da3-8e9d-32e9d5445667","instanceIdentifier":"8da4bf25-019a-1000-c916-a17ddc18e327","name":"","source":{"id":"d919c4ab-bc5d-319e-bec4-5a2ee2583cbd","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"ReplaceText","comments":"","instanceIdentifier":"8da29b1d-019a-1000-afae-5305bbe29a8c"},"destination":{"id":"a48cc68e-2090-3e3f-b65f-f49a83a852e3","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"LogAttribute","comments":"","instanceIdentifier":"8da4515d-019a-1000-7b82-92094f8a6a85"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"fa32dfbc-3b45-338d-8b51-cdccaa45f750","instanceIdentifier":"8da1224c-019a-1000-1303-734cb3f4b6ad","name":"","source":{"id":"b428eaed-83e5-3802-be75-83a6403af2ce","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"863b57a4-c7bd-3ab1-a150-f939a81e9873"},"destination":{"id":"8a209ea4-4b78-3e26-8a94-53f67d14445c","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"UpdateAttribute","comments":"","instanceIdentifier":"8da102f4-019a-1000-d5d6-d1339273b6b8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"},{"identifier":"42c06cc0-40c6-32f5-8710-fcd07861553e","instanceIdentifier":"8da55771-019a-1000-349d-835b50a120c8","name":"","source":{"id":"a48cc68e-2090-3e3f-b65f-f49a83a852e3","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"LogAttribute","comments":"","instanceIdentifier":"8da4515d-019a-1000-7b82-92094f8a6a85"},"destination":{"id":"dc897986-3849-3b7b-904d-3cf776d1f320","type":"PROCESSOR","groupId":"997acbe1-2a1f-3293-8592-0501409b215d","name":"PutFile","comments":"","instanceIdentifier":"8da4ff83-019a-1000-68d4-9cd87e02f656"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"997acbe1-2a1f-3293-8592-0501409b215d"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}