Flow/TP30_Apache_NiFi_Logging_nifi_local.json
{"flowContents":{"identifier":"80d15eea-b45e-3790-a278-9c3cefcf7774","instanceIdentifier":"dd056020-c80c-3cac-d6a0-a6d6c0965c99","name":"Apache NiFi Logging","comments":"","position":{"x":228.56271965137688,"y":-519.4192115834674},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"166f1139-7f1c-38be-bc31-c67f8381acbe","instanceIdentifier":"bace7523-e766-3115-8d8e-7bd2f7e2767c","name":"SplitText","comments":"","position":{"x":1168.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"d7da7e21-09cf-386a-9f47-1bcb0fc3872b","instanceIdentifier":"2afddeaf-3f6e-337d-c136-dc3765475fa4","name":"TailFile","comments":"","position":{"x":952.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Current Time","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":null,"reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"/home/user/nifi/logs/nifi-app.log","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"aa2c441d-a9a3-3fe1-b3bb-210345ad3a36","instanceIdentifier":"c120d29b-43eb-3a2b-11d4-cc5ee33291bb","name":"RouteOnContent","comments":"","position":{"x":1176.0,"y":104.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Content Buffer Size":"1 MB","Match Requirement":"content must contain match","ERROR":"ERROR","INFO":"INFO","Character Set":"UTF-8","DEBUG":"DEBUG","WARN":"WARN"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false},"ERROR":{"name":"ERROR","displayName":"ERROR","identifiesControllerService":false,"sensitive":false},"INFO":{"name":"INFO","displayName":"INFO","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"DEBUG":{"name":"DEBUG","displayName":"DEBUG","identifiesControllerService":false,"sensitive":false},"WARN":{"name":"WARN","displayName":"WARN","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"25cb746b-2dff-3673-8114-85c36402cdb8","instanceIdentifier":"e1347b74-4026-38ee-ad4b-4062e393e899","name":"UpdateAttribute","comments":"","position":{"x":1792.0,"y":112.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"aad4f946-4d82-3c04-88ee-4f537a08242e","instanceIdentifier":"de5ef5e4-af65-3832-33e7-c432aa047cf5","name":"PutSlack","comments":"","position":{"x":1168.0,"y":528.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.28.1"},"properties":{"icon-emoji":null,"SSL Context Service":null,"webhook-text":"Hi, \n An Error occoured at ${grok.timestamp} with Service ${grok.thread}. Error msg ${grok.message}","channel":"#demo-logging","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"6df795ce-3701-386e-bf53-a6b79190e49b","instanceIdentifier":"3b844507-76b4-3f9d-77c5-276789904d4e","name":"ExtractGrok","comments":"","position":{"x":1176.0,"y":296.0},"type":"org.apache.nifi.processors.standard.ExtractGrok","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Grok Expression":"%{TIMESTAMP_ISO8601:timestamp} %{LOGLEVEL:level} \\[%{DATA:thread}\\] %{DATA:class} %{GREEDYDATA:message}","Destination":"flowfile-attribute","Keep Empty Captures":"true","Grok Pattern file":null,"Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Named captures only":"false"},"propertyDescriptors":{"Grok Expression":{"name":"Grok Expression","displayName":"Grok Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Keep Empty Captures":{"name":"Keep Empty Captures","displayName":"Keep Empty Captures","identifiesControllerService":false,"sensitive":false},"Grok Pattern file":{"name":"Grok Pattern file","displayName":"Grok Patterns","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE","URL"]}},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Named captures only":{"name":"Named captures only","displayName":"Named captures only","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"df5d5cc2-cf3b-3f1b-9461-17c553a51bf8","instanceIdentifier":"3f6e337d-deaf-1afd-e90b-eb2865ce48bc","name":"TailFile","comments":"","position":{"x":1336.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.TailFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"tailfile-recursive-lookup":"false","File Location":"Local","Line Start Pattern":null,"Rolling Filename Pattern":null,"Initial Start Position":"Current Time","pre-allocated-buffer-size":"65536 B","Post-Rollover Tail Period":"0 sec","tail-base-directory":null,"reread-on-nul":"false","tailfile-maximum-age":"24 hours","Max Buffer Size":"64 KB","File to Tail":"/opt/nifi/logs/new_logs/nifi-app.log","tailfile-lookup-frequency":"10 minutes","tail-mode":"Single file"},"propertyDescriptors":{"tailfile-recursive-lookup":{"name":"tailfile-recursive-lookup","displayName":"Recursive lookup","identifiesControllerService":false,"sensitive":false},"File Location":{"name":"File Location","displayName":"State Location","identifiesControllerService":false,"sensitive":false},"Line Start Pattern":{"name":"Line Start Pattern","displayName":"Line Start Pattern","identifiesControllerService":false,"sensitive":false},"Rolling Filename Pattern":{"name":"Rolling Filename Pattern","displayName":"Rolling Filename Pattern","identifiesControllerService":false,"sensitive":false},"Initial Start Position":{"name":"Initial Start Position","displayName":"Initial Start Position","identifiesControllerService":false,"sensitive":false},"pre-allocated-buffer-size":{"name":"pre-allocated-buffer-size","displayName":"Pre-Allocated Buffer Size","identifiesControllerService":false,"sensitive":false},"Post-Rollover Tail Period":{"name":"Post-Rollover Tail Period","displayName":"Post-Rollover Tail Period","identifiesControllerService":false,"sensitive":false},"tail-base-directory":{"name":"tail-base-directory","displayName":"Base directory","identifiesControllerService":false,"sensitive":false},"reread-on-nul":{"name":"reread-on-nul","displayName":"Reread when NUL encountered","identifiesControllerService":false,"sensitive":false},"tailfile-maximum-age":{"name":"tailfile-maximum-age","displayName":"Maximum age","identifiesControllerService":false,"sensitive":false},"Max Buffer Size":{"name":"Max Buffer Size","displayName":"Max Buffer Size","identifiesControllerService":false,"sensitive":false},"File to Tail":{"name":"File to Tail","displayName":"File(s) to Tail","identifiesControllerService":false,"sensitive":false},"tailfile-lookup-frequency":{"name":"tailfile-lookup-frequency","displayName":"Lookup frequency","identifiesControllerService":false,"sensitive":false},"tail-mode":{"name":"tail-mode","displayName":"Tailing mode","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e3ef2cc3-71b6-3197-ada8-56101b63286f","instanceIdentifier":"9d8629db-ba22-32ba-6e4e-c87fe0d30612","name":"","source":{"id":"aa2c441d-a9a3-3fe1-b3bb-210345ad3a36","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-11d4-cc5ee33291bb"},"destination":{"id":"25cb746b-2dff-3673-8114-85c36402cdb8","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1347b74-4026-38ee-ad4b-4062e393e899"},"labelIndex":1,"zIndex":0,"selectedRelationships":["WARN"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1660.0,"y":247.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"895d6f64-4f47-3b6a-acdf-0021eb56a48b","instanceIdentifier":"79b26f31-1ae9-3b69-15ef-73dead105665","name":"","source":{"id":"6df795ce-3701-386e-bf53-a6b79190e49b","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"ExtractGrok","comments":"","instanceIdentifier":"3b844507-76b4-3f9d-77c5-276789904d4e"},"destination":{"id":"aad4f946-4d82-3c04-88ee-4f537a08242e","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"PutSlack","comments":"","instanceIdentifier":"de5ef5e4-af65-3832-33e7-c432aa047cf5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"7c72dbb1-5d56-3854-9ac5-cf70147a245d","instanceIdentifier":"9b9ba9c2-30ad-3e17-7bc7-a8a1daee42c0","name":"","source":{"id":"aa2c441d-a9a3-3fe1-b3bb-210345ad3a36","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-11d4-cc5ee33291bb"},"destination":{"id":"6df795ce-3701-386e-bf53-a6b79190e49b","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"ExtractGrok","comments":"","instanceIdentifier":"3b844507-76b4-3f9d-77c5-276789904d4e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ERROR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"efb565e6-0685-30cc-a87b-14daac972f30","instanceIdentifier":"4951070a-4c64-365b-a8ff-1bd69b1923d1","name":"","source":{"id":"aa2c441d-a9a3-3fe1-b3bb-210345ad3a36","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-11d4-cc5ee33291bb"},"destination":{"id":"25cb746b-2dff-3673-8114-85c36402cdb8","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1347b74-4026-38ee-ad4b-4062e393e899"},"labelIndex":1,"zIndex":0,"selectedRelationships":["INFO"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1660.0,"y":97.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"e7f51d86-7053-34ba-b87e-672e3f78903c","instanceIdentifier":"04e15397-90d5-3aae-1d2d-3979f1d957a1","name":"","source":{"id":"166f1139-7f1c-38be-bc31-c67f8381acbe","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"SplitText","comments":"","instanceIdentifier":"bace7523-e766-3115-8d8e-7bd2f7e2767c"},"destination":{"id":"aa2c441d-a9a3-3fe1-b3bb-210345ad3a36","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-11d4-cc5ee33291bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"b44fd45c-9e0e-3fd6-8898-5e9bb1d3b34c","instanceIdentifier":"3f6e3380-deaf-1afd-2b51-65deed80d5c4","name":"","source":{"id":"9ea4870f-45cc-39f1-9867-08ab626b765a","type":"FUNNEL","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"Funnel","comments":"","instanceIdentifier":"3f6e337e-deaf-1afd-5cc1-a90766a4f56d"},"destination":{"id":"166f1139-7f1c-38be-bc31-c67f8381acbe","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"SplitText","comments":"","instanceIdentifier":"bace7523-e766-3115-8d8e-7bd2f7e2767c"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"e432a17c-97b9-35d6-ae11-7cc61854ac30","instanceIdentifier":"3f6e3381-deaf-1afd-c03c-67887da3704c","name":"","source":{"id":"d7da7e21-09cf-386a-9f47-1bcb0fc3872b","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"TailFile","comments":"","instanceIdentifier":"2afddeaf-3f6e-337d-c136-dc3765475fa4"},"destination":{"id":"9ea4870f-45cc-39f1-9867-08ab626b765a","type":"FUNNEL","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"Funnel","comments":"","instanceIdentifier":"3f6e337e-deaf-1afd-5cc1-a90766a4f56d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"abe4ab4e-1913-3cc7-a07f-ea4808fcd347","instanceIdentifier":"3f6e337f-deaf-1afd-0690-ae762100d685","name":"","source":{"id":"df5d5cc2-cf3b-3f1b-9461-17c553a51bf8","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"TailFile","comments":"","instanceIdentifier":"3f6e337d-deaf-1afd-e90b-eb2865ce48bc"},"destination":{"id":"9ea4870f-45cc-39f1-9867-08ab626b765a","type":"FUNNEL","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"Funnel","comments":"","instanceIdentifier":"3f6e337e-deaf-1afd-5cc1-a90766a4f56d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"},{"identifier":"04403f36-3571-3d6c-892d-d4602251d8fb","instanceIdentifier":"52060a5d-016a-35c4-75f7-7e8c6ffbc37a","name":"","source":{"id":"aa2c441d-a9a3-3fe1-b3bb-210345ad3a36","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"RouteOnContent","comments":"","instanceIdentifier":"c120d29b-43eb-3a2b-11d4-cc5ee33291bb"},"destination":{"id":"25cb746b-2dff-3673-8114-85c36402cdb8","type":"PROCESSOR","groupId":"80d15eea-b45e-3790-a278-9c3cefcf7774","name":"UpdateAttribute","comments":"","instanceIdentifier":"e1347b74-4026-38ee-ad4b-4062e393e899"},"labelIndex":1,"zIndex":0,"selectedRelationships":["DEBUG"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"}],"labels":[{"identifier":"f6ad1d9b-7c32-3d88-ab6c-aa28bfc064a0","instanceIdentifier":"3c48a47d-1195-3193-dda9-e45e231f73d7","position":{"x":1016.0,"y":488.0},"label":"Mettre à jour les informations Slack ici","zIndex":0,"width":664.0,"height":224.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"}],"funnels":[{"identifier":"9ea4870f-45cc-39f1-9867-08ab626b765a","instanceIdentifier":"3f6e337e-deaf-1afd-5cc1-a90766a4f56d","position":{"x":1280.0,"y":-208.0},"componentType":"FUNNEL","groupIdentifier":"80d15eea-b45e-3790-a278-9c3cefcf7774"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}